BOT_TOKEN=8893875857:AAEVXqOXtoL-iULtyO7PVBgmPxCxhdpmgHI
BOT_LOCALES=en,fa
DB_HOST=127.0.0.1
DB_PORT=27017
DB_NAME=libjs_tgbot
DB_USER=libjs_tgbot
DB_PASS=libjs_tgbot

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_USER=
REDIS_PASS=

# polling | webhook
SRV_MODE=polling
SRV_HOOK_URL=
